# Файлы виртуальных сред Python
venv/
.env/

# Кэш и временные файлы Python
__pycache__/
*.py[cod]
*$py.class

# Файлы операционной системы
.DS_Store
Thumbs.db

# Файлы данных приложения и IDE
expenses.json
.vscode/
